@layer base {
	body {
		@apply m-0 font-open text-[#414141] bg-[#e4f1f1];
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-sans text-[#2b2b2b];
	}
}

@tailwind base;

@layer components {
	.center {
		@apply m-auto text-center;
	}
}

@tailwind components;

@layer utilities {
	.text-shadow-one {
		text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	}
	.text-shadow {
		text-shadow: 2px 2px 4px black;
	}
	.text-shadow-md {
		text-shadow: 4px 4px 8px black;
	}
	.text-shadow-lg {
		text-shadow: 15px 15px 30px black;
	}
	.text-shadow-none {
		text-shadow: none;
	}
}

@tailwind utilities;
